@import 'edgrid/ed-grid';
// 1. Personalice sus variables
$cssCore: false;
$cssHelpers: true;

$prototype: false;
$dev: false;
.login{
    @include edContainer;
    max-height: 100vh;
    background-image: url("../img/background.png");
    @include to(m){
        background-size: cover;
        background-position: 10 50;
    }
    @include from(m){
    background-size: cover;
    background-position: center;
    }
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    .header, .main, .footer{
        @include edContainer;
        
        &__content{
            @include edItem;
            @include edContainer;
           
            &_item{
                @include edItem;
            }
        }
    }

}