<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title POA-PAC 2020
        link(rel="stylesheet", href="assets/css/login.css")
    body.login
       header.header
        .header__content
            .header__content_item.btn-login
                img(src="assets/img/btn-login.png", alt="login")
    main.main
        .main__content
            .main__content_item.title Planificación Operativa 2020
            .main__content_item.logo
                img(src="assets/img/logo-poapac.png", alt="poa pac")
            .main__content_item.welcome Bienvenido(a)
    footer.footer
        .footer__content
            .footer__content_item.logo
                a(href="https://www.espoch.edu.ec" target="_blank") 
                    img(class="img-espoch" src="assets/img/espoch color.svg", alt="ESPOCH")
            .footer__content_item.logo
                a(href="https://www.espoch.edu.ec/index.php/component/k2/item/869.html" target="_blank") 
                    img(class="img-planificacion" src="assets/img/DPlanificacion.png", alt="Planificación ESPOCH")
            .footer__content_item.logo
                a(href="http://cimogsys.com/" target="_blank") 
                    img(class="img-cimogsys" src="assets/img/cimogsys.png", alt="CIMOGSYS")