<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title POA-PAC 2020
        link(rel="stylesheet", href="assets/css/login.css")
    body.login
       header.header
        .header__content
            .header__content_item
                img(src="assets/img/btn-login.png", alt="login")
        main.main
            .main__content
                .main__content_item Planificación Operativa
                .main__content_item
                    img(src="assets/img/logo-poapac.png", alt="poa pac")
                .main__content_item Bienvenidos
        footer.footer
            .footer__content
                .footer__content_item.logo
                    img(src="assets/img/logo-espoch.png", alt="ESPOCH")
                .footer__content_item.logo
                    img(src="assets/img/planificacion.png", alt="Planificación ESPOCH")
                .footer__content_item.logo
                    img(src="assets/img/cimogsys.png", alt="CIMOGSYS")